
#categoria {

	img {
		width: 100px;
		height: auto;
	}

	h3 {
		color: white;
		margin-top: 10px;
	}

	.row {
		margin-bottom: 15px;
		font-family: 'TrebuchetMSBold';
		font-size: 21px;
	}
}

.categoria-telon {
	background: url(../img/trama.png) no-repeat center center fixed;
	background-size: cover;
}