
.search {
	padding: 5px 10px;
	font-size: 18px;
	padding-right: 110px;
	position: relative;
	border-bottom: 1px solid $line-gris;
	
	input {
		margin-left: -35px;
		background-color: $search-gris;
		color: white;
		padding-left: 41px;
		padding-top: 6px;
		padding-bottom: 7px;
		border: 0px;
		border-radius: 5px;
		width: 100%;

		&::-webkit-input-placeholder {
		   color: #EAEAEA;
		}
	}

	.glyphicon {
		margin-left: 10px;
		color: white;
		top: 4px;
	}

	.btn {
		position: absolute;
		right: 0px;
		top: 5px;
		font-size: 18px;
		width: 110px;
		color: $search-gris;

		&:active,&:focus,&:hover {
			text-decoration: none;
		}
	}
}

.list {
	overflow-y: scroll;
	height: 100px;
	width: 100%;

	.item {
		position: relative;
		font-size: 21px;
		padding: 10px 35px;
		border-bottom: 1px solid $line-gris;
		display: block;
		color: $font-color;

		.glyphicon {
			color: $footer-active;
			position: absolute;
			top: 17px;
			right: 19px;
			font-size: 18px;
		}

		&.disabled {
			color: lighten($font-color, 40%);
		}
	}
}

#show {
	overflow-y: scroll;
	background-color: $view-back;

	.category {
		background-color: $footer-active;
		padding-top: 35px;
		padding-bottom: 10px;
		color: white;

		img {
			width: 100px;
			height: auto;
		}

		h3 {
			font-family: 'TrebuchetMSBoldItalic';
		}

		.glyphicon {
			font-size: 40px;
			line-height: 85px;
		}

		a {
			color: white;
		}

		&.small {
			img {
				width: 80px;
			}
		}
	}

	.details {
		font-size: 21px;
		
		& > div  {
			padding: 20px 35px;
			border-bottom: 1px solid $line-gris;	
		}

		.italic {
			font-style: italic;
			color: #747474;
		}
	}
}