
.game {

	.details {
		padding: 0px!important;

		.list {
			height: inherit;
		}
	}

	&.end {
		background-color: inherit!important;

		.category {
			background-color: transparent!important;

			h3 {
				font-size: 30px;
			}
		}

		.btn-danger {
			background-color: $footer-active;
			font-size: 20px;
		}
	}
}

.timer {

	.clock {
		margin-top: -72px;
		margin-bottom: 38px;
		font-size: 23px;
	}
}