
<div id="header">
    
    <div class="row row-stretch">
        <div class="col-xs-2 text-right">
            
        </div>
        <div class="col-xs-8 text-center">
            
        </div>
        <div class="col-xs-2 text-center">
            
        </div>
    </div>

</div>

<div id="show" class="game end">
	
	<div class="category text-center">
		<div class="container">
		<div class="row row-stretch">
			<!-- <div class="col-xs-4 text-right">
				<img src="img/facebook.png" alt="">
			</div> -->
			<div class="col-xs-4 col-xs-offset-4">
				<img src="img/endgame.png" alt="">
                
			</div>
			<!-- <div class="col-xs-4 text-left">
                <img src="img/youtube.png" alt="">
			</div> -->
		</div>
		</div>

		<br>
		
		<h3>{{ steps }} Chilean Slangs <br> Completed</h3>

		<br>

		<h4>Your score is <br> {{ correctas }} points</h4>

		<br>
		
		<a href="#/game" class="btn btn-danger">Continue</a>
	</div>

</div>
