
<div id="header">
    
    <div class="row row-stretch">
        <div class="col-xs-2 text-right">
            
        </div>
        <div class="col-xs-8 text-center">
            What Means?
        </div>
        <div class="col-xs-2 text-center">
            
        </div>
    </div>

</div>

<div id="show" class="game">
	
	<div class="category text-center">
		<div class="container">
		<div class="row row-stretch">
			<!-- <div class="col-xs-4 text-right">
				<img src="img/facebook.png" alt="">
			</div> -->
			<div class="col-xs-4 col-xs-offset-4 timer">
				<img src="img/timer.png" alt="">
                <div class="clock">{{ timer }}</div>
			</div>
			<!-- <div class="col-xs-4 text-left">
                <img src="img/youtube.png" alt="">
			</div> -->
		</div>
		</div>
		
		<h3>{{ question.pregunta }}</h3>
	</div>

	<div class="details">
		<div class="list">
            <a class="item" ng-repeat="respuesta in question.respuestas" ng-click="answare(respuesta.correcta)">{{ respuesta.respuesta }}</a>
		</div>
	</div>

</div>
