
<div id="header">
    
    <div class="row row-stretch">
        <div class="col-xs-2 text-right">
            <a href="#/modismo">
            	<span class="glyphicon glyphicon-play rotated"></span>
            </a>
        </div>
        <div class="col-xs-8 text-center">
            Chilean Slangs
        </div>
        <div class="col-xs-2">
            
        </div>
    </div>

</div>

<div id="show">
	
	<div class="category text-center">
		<div class="row row-stretch">
			<div class="col-xs-3 text-right">
				<a ng-if="selected.prev != -1" href="#/modismo/{{ selected.prev }}">
                    <span class="glyphicon glyphicon-play-circle rotated"></span>		
                </a>
			</div>
			<div class="col-xs-6">
				<img src="img/{{ selected.categoria[0] }}.png" alt="">
			</div>
			<div class="col-xs-3 text-left">
                <a ng-if="selected.next != -1" href="#/modismo/{{ selected.next }}">
				    <span ng-if="selected.next != -1" class="glyphicon glyphicon-play-circle"></span>
                </a>
			</div>
		</div>
		
		<h3>{{ selected.modismo }}</h3>
	</div>

	<div class="details">
		<div ng-repeat="significado in selected.significado track by $index">
            {{ significado }} <br><span class="italic">{{ selected.traduccion[$index] }}</span>
        </div>
	</div>

</div>

<div id="footer">
    <div class="row row-stretch">
        <div class="col-xs-3 active">
            <a href="#/modismo">
                <img src="img/slangs.png" alt="">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#/categoria">
                <img src="img/categories.png" alt="">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#/modismo">
                <img src="img/game.png" alt="">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#/about">
                <img src="img/networks.png" alt="">
            </a>
        </div>
    </div>
</div>
