
<div id="header">
    
    <div class="row row-stretch">
        <div class="col-xs-2 text-right">
            <a href="#/modismo">
            	<span class="glyphicon glyphicon-play rotated"></span>
            </a>
        </div>
        <div class="col-xs-8 text-center">
            Categories
        </div>
        <div class="col-xs-2">
            
        </div>
    </div>

</div>

<div id="categoria">
	<br>
	<div class="container">
		<div class="row row-stretch">
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Diario">
					<img src="img/Diario.png" alt="">
				</a>
				<h3>Daily</h3>
			</div>
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Emocion">
					<img src="img/Emocion.png" alt="">
				</a>
				<h3>Emotions</h3>
			</div>
		</div>
		<div class="row row-stretch">
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Vulgar">
					<img src="img/Vulgar.png" alt="">
				</a>
				<h3>Vulgar</h3>
			</div>
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Turism">
					<img src="img/Turism.png" alt="">
				</a>
				<h3>Turistic</h3>
			</div>
		</div>
		<div class="row row-stretch">
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Fiesta">
					<img src="img/Fiesta.png" alt="">
				</a>
				<h3>Outside</h3>
			</div>
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Random">
					<img src="img/Random.png" alt="">
				</a>
				<h3>Random</h3>
			</div>
		</div>
	</div>

</div>
