
<div class="categoria-telon">

<div id="header">
    
    <div class="row row-stretch">
        <div class="col-xs-2 text-right">
            <a href="#/modismo">
            	<span class="glyphicon glyphicon-play rotated"></span>
            </a>
        </div>
        <div class="col-xs-8 text-center">
            Categories
        </div>
        <div class="col-xs-2">
            
        </div>
    </div>

</div>

<div id="categoria">
	<br>
	<div class="container">
		<div class="row row-stretch">
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Daily">
					<img src="img/Diario.png" alt="">
				</a>
				<h3>Daily</h3>
			</div>
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Emotions">
					<img src="img/Emocion.png" alt="">
				</a>
				<h3>Emotions</h3>
			</div>
		</div>

		<div class="row row-stretch">
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Vulgar">
					<img src="img/Vulgar.png" alt="">
				</a>
				<h3>Vulgar</h3>
			</div>
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Food">
					<img src="img/Food.png" alt="">
				</a>
				<h3>Food</h3>
			</div>
		</div>

		<div class="row row-stretch">
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Tourism">
					<img src="img/Turism.png" alt="">
				</a>
				<h3>Turistic</h3>
			</div>
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Animals">
					<img src="img/Animals.png" alt="">
				</a>
				<h3>Animals</h3>
			</div>
		</div>

		<div class="row row-stretch">
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Others">
					<img src="img/Others.png" alt="">
				</a>
				<h3>Others</h3>
			</div>
			<div class="col-xs-6 text-center">
				<a href="#/categoria/Attitude">
					<img src="img/Atitude.png" alt="">
				</a>
				<h3>Atitude</h3>
			</div>
		</div>
	</div>

</div>

</div>